<a href="javascript:document.print()" class="print-post">Print</a>
<a href="#">Reply</a>
<span class="posted-at">Posted <%= time_ago_in_words @post.created_at %> ago</span>

<p><%= @post.title %></p>
<%= simple_format @post.content %>

<p class="post-meta">
  <span class="posted-id">Post id: <%= @post.id.to_s %></span>
  <span class="posted-at">Posted <%= time_ago_in_words @post.created_at %> ago</span>
</p>
